# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm
/.yarn/cache
/.yarn/unplugged
/.yarn/build-state.yml
/.yarn/install-state.gz
/.pnp
.pnp.js
.yarn/sdks/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# vercel
/.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# wrangler
.wrangler/
.dev.vars

# cloudflare
.wrangler
dist/
.vercel
